<div class="container contenedor">
  <!-- Botón agregar formato -->
  <div class="d-flex justify-content-center align-items-center mb-4">
    <button class="btn botonCrear w-40 px-4 py-2" (click)="abrirModalAgregar()"> Nuevo Formato </button>
  </div>

  <!-- Sección por tipo de ítem -->
  <div class="row">
    <div *ngFor="let tipo of tiposDeItem" class="col-12 mb-4">
      <h3 class="titulo mb-3">{{ formatearNombre(tipo.tipoItemNombre) }}</h3>

      <!-- Cards por formato -->
      <div class="row g-3">
        <div *ngFor="let formato of tipo.formatos" class="col-md-6 col-lg-4">
          <div class="card cardFormato shadow-sm">
            <div class="card-body">
              <span class="fw-semibold">{{ formato.nombre }}</span>
              <div class="botonesAcciones">
                <button class="btn btn-sm boton-editar me-2" (click)="abrirModalEditar(formato.id)" title="Editar">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="delete(formato.id)" title="Borrar">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de formulario -->
<app-modal [isOpen]="isModalOpen" [title]="titleModal" (close)="cerrarModal()">
  <app-formularioformatos (formSubmitted)="onFormSubmitted()" (formClosed)="cerrarModal()" [formato]="selectedFormato"
    [isEditMode]="isEditMode">
  </app-formularioformatos>
</app-modal>