<div class="contenedorPaginaInicio">
  <!-- Título de la página -->
  <h1 class="title text-center">COLECCIÓN PERSONAL</h1>

  <!-- Contenedor de botones -->
  <div class="buttons-container">

     <!-- Botón Artículos -->
     <button class="btn btn-secondary btn-custom" (click)="goToListaItems()">
      <i class="fas fa-file-alt"></i> Artículos
    </button>
    <!-- Botón Libros -->
    <button class="btn btn-success btn-custom" (click)="goToListaLibros()">
      <i class="fas fa-book"></i> Libros
    </button>

    <!-- Botón Películas -->
    <button class="btn btn-primary btn-custom" (click)="goToListaPeliculas()">
      <i class="fas fa-film"></i> Películas
    </button>

    <!-- Botón Música -->
    <button class="btn btn-warning btn-custom" (click)="goToListaMusica()">
      <i class="fas fa-music"></i> Música
    </button>

    <!-- Botón Usuarios -->
    <button class="btn btn-info btn-custom" (click)="goToListausuarios()">
      <i class="fas fa-users"></i> Usuarios
    </button>

    <!-- Botón Préstamos -->
    <button class="btn btn-danger btn-custom" (click)="goToPrestamos()">
      <i class="fas fa-hand-holding-usd"></i> Préstamos
    </button>

    <button class="btn btn-dark btn-custom" (click)="goToFormatos()">
      <i class="fas fa-clipboard"></i> Formatos
    </button>
  </div>
</div>

<!-- Pie de Página -->
<footer class="footer">
  <p>&copy; 2025 COLECCIÓN PERSONAL. Todos los derechos reservados</p>
</footer>