<div class="contenedor">
    <header class="my-4">
      <div class="botonesHeader">
        <button class="btn btn-success w-40 mx-5" (click)="abrirModalAgregar()">Añadir Usuario</button>
      </div>
    </header>
    <app-tabla-generica [dataSource]="dataSource" [displayedColumns]="displayedColumns" [deleteCallback]="delete.bind(this)"   [editCallback]="abrirModalEditar.bind(this)"
    [viewDetailsCallback]="verDetalles" [columnDefinitions]="columnDefinitions" [tipoTabla]="'prestamos'">
    </app-tabla-generica>
    
    <app-modal [isOpen]="isModalOpen" [title]="titleModal" (closeEvent)="cerrarModal()">
      <app-formulariopersonas
        [persona]="selectedPersona"
        [isEditMode]="isEditMode"
        (formSubmitted)="onFormSubmitted()"
        (formClosed)="cerrarModal()"
      ></app-formulariopersonas>
    </app-modal>
    
  </div>