<div class="contenedor">
  <header class="my-4">
    <h1>Lista de Libros <span class="movie-emoji">📚</span></h1>
    <div class="botonesHeader">
      <button class="btn btn-success w-40 mx-5" (click)="abrirModalAgregar()">Añadir Libro</button>
      <button class="btn btn-primary w-40 mx-5" (click)="goToMainPage()">Volver a la página principal</button>
    </div>
  </header>
  <app-tabla-generica [dataSource]="dataSource" [displayedColumns]="displayedColumns"
    [deleteCallback]="delete.bind(this)" [editCallback]="abrirModalEditar.bind(this)"
    [viewDetailsCallback]="verDetalles" [columnDefinitions]="columnDefinitions">
  </app-tabla-generica>

  <app-modal [isOpen]="isModalOpen" [title]="titleModal" (closeEvent)="cerrarModal()">
    <app-formulariolibros [libro]="selectedLibro" [isEditMode]="isEditMode" (formSubmitted)="onFormSubmitted()"
      (formClosed)="cerrarModal()"></app-formulariolibros>
  </app-modal>

</div>