.tab-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  
    .tab-button {
      padding: 0.6rem 1.2rem;
      border: none;
      border-bottom: 3px solid transparent;
      background-color: transparent;
      font-size: 1rem;
      font-weight: 500;
      color: #555;
      transition: all 0.3s ease;
  
      &:hover {
        color: #17a2b8;
        border-bottom: 3px solid #17a2b8;
      }
  
      &.active {
        color: #17a2b8;
        border-bottom: 3px solid #17a2b8;
        font-weight: bold;
      }
    }
  }

  .botonesHeader {
    top: 18%;
    margin-bottom: 2%;
  }
  /* Ajustes en resoluciones pequeñas */
@media (max-width: 1024px) {
    .botonesHeader {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  

  