<div class="d-flex">
    <!-- Sección principal -->
    <div class="main-content">
        <!-- Información del Usuario -->
        <div class="user-card">
            <h2>{{ persona.nombre }}</h2>
            <div class="user-info">
                <p><strong>Dirección:</strong> {{ persona.direccion }}</p>
                <p><strong>Email:</strong> {{ persona.email }}</p>
                <p><strong>Teléfono:</strong> {{ persona.telefono }}</p>
                <div class="col-md-6">
                    <button (click)="actualizarRegistro(persona.id)" class="btn botonCrear w-50 mt-2">
                        Editar
                    </button>
                </div>
            </div>
        </div>

        <div class="repo-card">
            <h6 class="text-center">Préstamos activos</h6>
            <div class="row tab-buttons my-3">
                <div class="col">
                    <button class="tab-button" [class.active]="prestamosAsociados === 'todos'"
                        (click)="verTodosPrestamos()">Todos</button>
                </div>
                <div class="col">
                    <button class="tab-button" [class.active]="prestamosAsociados === 'pelicula'"
                        (click)="verPrestamos('pelicula')">Películas</button>
                </div>
                <div class="col">
                    <button class="tab-button" [class.active]="prestamosAsociados === 'libro'"
                        (click)="verPrestamos('libro')">Libros</button>
                </div>
                <div class="col">
                    <button class="tab-button" [class.active]="prestamosAsociados === 'musica'"
                        (click)="verPrestamos('musica')">Música</button>
                </div>
            </div>
        </div>

        <!-- Mostrar tabla de préstamos -->
        <div *ngIf="mostrarTabla">
            <h4>Préstamos de {{ tipoRepositorio }}</h4>
            <table class="table table-bordered">
                <thead class="fondoCabeceraTabla">
                    <tr>
                        <th class="w-30">Nombre</th>
                        <th class="w-10">Tipo</th>
                        <th class="w-10">Formato</th>
                        <th class="w-20">Fecha de préstamo</th>
                        <th class="w-20">Fecha prevista de devolución</th>
                        <th class="w-10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prestamo of prestamos">
                        <td class="w-30">{{ prestamo.item.nombre }}</td>
                        <td class="w-10">{{ prestamo.item.tipo.nombre }}</td>
                        <td class="w-10">{{ prestamo.item.formato.nombre }}</td>
                        <td class="w-20">{{ prestamo.fechaPrestamo | date: 'dd/MM/yyyy'}}</td>
                        <td class="w-20">{{ prestamo.fechaPrevistaDevolucion | date: 'dd/MM/yyyy'}}</td>
                        <td class="w-10">
                            <button class="btn boton" (click)="verDetallePrestamo(prestamo.item.id)">Ir al préstamo</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Mostrar todos los préstamos -->
        <div *ngIf="verTodosTabla">
            <h4 class="my-3">Todos los Préstamos</h4>
            <table class="table table-bordered">
                <thead class="fondoCabeceraTabla">
                    <tr>
                        <th class="w-30">Nombre</th>
                        <th class="w-10">Tipo</th>
                        <th class="w-10">Formato</th>
                        <th class="w-20">Fecha de préstamo</th>
                        <th class="w-20">Fecha prevista de devolución</th>
                        <th class="w-10"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prestamo of todosPrestamos">
                        <td class="w-30">{{ prestamo.item.nombre }}</td>
                        <td class="w-10">{{ prestamo.item.tipo.nombre }}</td>
                        <td class="w-10">{{ prestamo.item.formato.nombre }}</td>
                        <td class="w-20">{{ prestamo.fechaPrestamo | date: 'dd/MM/yyyy'}}</td>
                        <td class="w-20">{{ prestamo.fechaPrevistaDevolucion | date: 'dd/MM/yyyy' }}</td>
                        <td class="w-10">
                            <button class="btn boton" (click)="verDetallePrestamo(prestamo.item.id)">Ir al préstamo</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Si no hay préstamos del tipo seleccionado -->
        <div *ngIf="mostrarTabla && prestamos.length === 0" class="alert alert-warning mt-2">
            No hay préstamos de {{ tipoRepositorio }} activos para este usuario
        </div>

        <!-- Si no hay préstamos en total -->
        <div *ngIf="verTodosTabla && todosPrestamos.length === 0" class="alert alert-warning mt-2">
            Este usuario no tiene ningún préstamo activo
        </div>
    </div>
    <app-modal [isOpen]="isModalOpen" [title]="titleModal" (closeEvent)="cerrarModal()">
        <app-formulariopersonas
        [isEditMode]="isEditMode"
        [persona]="personaSeleccionada!"
        (formSubmitted)="onFormSubmitted()"
        (formClosed)="cerrarModal()"
      ></app-formulariopersonas>
    </app-modal>
</div>
