.contenedorDetalle {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 1.1rem;
  }
  
  .user-card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem; 
  }
  
  .user-card h3 {
    margin-bottom: 15px;
    color: #343a40;
    font-size: 1.5rem; 
    font-weight: 600;
  }
  
  .user-info p {
    margin-bottom: 8px;
  }
  
  .table {
    font-size: 1rem; 
  }
  
  .text-warning {
    font-weight: 600;
  }