<div class="contenedor">
  <header class="my-4">
    <div class="botonesHeader d-flex justify-content-between align-items-center">
      <button class="btn btn-success" (click)="abrirModalAgregar()">Añadir Música</button>
    </div>
  </header>
    <app-tabla-generica [dataSource]="dataSource" [displayedColumns]="displayedColumns"
      [deleteCallback]="delete.bind(this)" [editCallback]="abrirModalEditar.bind(this)"
      [viewDetailsCallback]="verDetalles" [columnDefinitions]="columnDefinitions">
    </app-tabla-generica>

  <app-modal [isOpen]="isModalOpen" [title]="titleModal" (closeEvent)="cerrarModal()">
    <app-formulariomusica [musica]="selectedMusica" [isEditMode]="isEditMode" (formSubmitted)="onFormSubmitted()"
      (formClosed)="cerrarModal()"></app-formulariomusica>
  </app-modal>

</div>