.filtroTabla {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: none;
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

::ng-deep .filtrotabla .mat-mdc-form-field:hover .mat-mdc-text-field-wrapper {
  box-shadow: 0 0 5px #999;
}

.tablaDatos {
  border-collapse: collapse;
  border: 2px solid #17a2b8;
  overflow-x: auto; 
  width: 100%;
  border-radius: 10px; 
}

.tablaDatos table{
  width: 100%;
  min-width: 1000px;
  table-layout: fixed;
  border-collapse: collapse; 
  border-spacing: 0; 
}

.tablaDatos tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.tablaDatos tr:nth-child(even) {
  background-color: #f4f4f4;
}

::ng-deep .tablaDatos table thead th {
  text-align: center !important;
  background-color: #e3e3e3 !important;
  // border-bottom: 2px solid #000 !important;
}

::ng-deep .tablaDatos td {
  text-align: center !important;
}

::ng-deep .tablaDatos th div {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Cambia el color del borde grueso del mat-form-field de búsqueda cuando está enfocado */
::ng-deep .filtroTabla .mat-mdc-form-field:focus {
  color: #17a2b8 !important; /* Tu color deseado */
  border-color: #17a2b8 !important; 
}

/* Opcional: Cambiar también el color de la etiqueta flotante (placeholder) cuando está enfocado */
::ng-deep .filtroTabla .mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: #17a2b8 !important; /* Tu color deseado */
  border-color: #17a2b8 !important; 
}

.paginacion {
  margin-top: 1%;
  margin-bottom: 1%;
}

.paginacion>* {
  background-color: #e3e3e3;
  border: 2px solid #17a2b8;
  border-radius: 10px;
  font-weight: 600;
}

/* Asegurar que la tabla ocupe todo el ancho disponible */
.mat-table {
  width: 100%;
}

/* Clases de ancho genéricas aplicables a cualquier tabla */
.col-1 {
  width: 25%;
}

/* Primera columna */
.col-2 {
  width: 10%;
}

/* Segunda columna */
.col-3 {
  width: 25%;
}

/* Tercera columna */
.col-4 {
  width: 10%;
}

/* Cuarta columna */
.col-5 {
  width: 12.5%;
}

/* Quinta columna */
.col-6 {
  width: 17.5%;
}

/* Sexta columna */

.tablaDatos.prestamos {
  .col-1 {
    width: 20%;
  }

  .col-2 {
    width: 15%;
  }

  .col-3 {
    width: 12%;
  }

  .col-4 {
    width: 12%;
  }

  .col-5 {
    width: 12%;
  }

  .col-6 {
    width: 26%;
  }

}

.modal-body {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-weight: bold;
        font-size: 14px;
        color: #333;
      }

      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        width: 100%;
      }
    }

    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.modal .modal-dialog {
  max-width: 90%;
  width: auto;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Asegurarse de que todos los botones tengan el mismo tamaño y alineación */
button.mat-icon-button {
  display: flex;
  align-items: center;
  /* Alinea verticalmente el contenido (ícono y texto) */
  justify-content: center;
  /* Centra los elementos si es necesario */
}

.botonDevolver {
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 0.8rem;
  height: auto !important;
  width: auto !important;
  display: flex;
  align-items: center;
  gap: 4px;
}

.botonDevolver:hover {
  background-color: #e3e3e3;

}

.botonDevolver .devolver {
  font-size: 18px;
}

/* Contenedor de los botones */
.acciones-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  /* Espacio entre los botones */
  align-items: center;
  /* Alinea verticalmente los botones */
  width: 100%;
}

.acciones-buttons button {
  height: 40px;
  width: 40px;
}

/* Columna Estado*/
.badge {
  padding: 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.badge-prestado {
  background-color: #fbc02d;
}

.badge-disponible {
  background-color: #43a047;
}

.badgeFechaDevolucion.badge-prestado {
  background-color: #fbc02d;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.table-container{
  padding-bottom: 30px !important;
}

@media screen and (max-width: 768px) {

  .paginacion {
    margin-top: 3%;
  }

  .paginacion ::ng-deep .mat-mdc-paginator-page-size {
    margin: 0 auto !important;
    margin-top: 15px !important;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .paginacion ::ng-deep .mat-mdc-paginator-range-actions{
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    gap: 8px;
  }

}
