<div class="container">
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="row">
      <!-- Selección del Item -->
      <div class="form-group col-md-6">
        <label for="itemId">Item:</label>
        <ng-container *ngIf="!isEditMode; else itemReadonly">
          <ng-select
          id="itemId"
          name="itemId"
          [items]="items"
          bindLabel="nombre"
          bindValue="id"
          [(ngModel)]="prestamo.itemId"
          placeholder="Seleccione un item"
          [searchable]="true"
          [notFoundText]="'No se encontraron resultados'"
          [loadingText]="'Cargando opciones...'"
          [virtualScroll]="true"
          required
          #itemRef="ngModel">
        </ng-select>   
          <div class="text-danger" *ngIf="itemRef.invalid && itemRef.touched">
            Debe seleccionar un item
          </div>
        </ng-container>
        <ng-template #itemReadonly>
          <input id="itemId" name="itemId" class="form-control" [(ngModel)]="prestamo.item.nombre" disabled>
        </ng-template>
      </div>

      <!-- Fecha Prevista de Devolución -->
      <div class="form-group col-md-6">
        <label for="fechaPrevistaDevolucion">Fecha Prevista de Devolución:</label>
        <input type="date" id="fechaPrevistaDevolucion" name="fechaPrevistaDevolucion" class="form-control"
          [(ngModel)]="prestamo.fechaPrevistaDevolucion">
          <div class="text-danger" *ngIf="erroresBackend?.fechaPrevistaDevolucion">
            {{ erroresBackend.fechaPrevistaDevolucion }}
          </div>
      </div>
    </div>

    <div class="row">
      <!-- Selección de la Persona -->
      <div class="form-group col-md-6">
        <label for="persona">Persona:</label>
        <ng-container *ngIf="!isEditMode; else personaReadonly">
          <ng-select
            id="persona"
            name="persona"
            [items]="personas"
            bindLabel="nombre"
            bindValue="id"
            [(ngModel)]="prestamo.persona.id"
            placeholder="Seleccione una persona"
            [searchable]="true"
            [notFoundText]="'No se encontraron personas'"
            [typeToSearchText]="'Escriba para buscar...'"
            [loadingText]="'Cargando personas...'"
            [virtualScroll]="true"
            required
            #personaRef="ngModel">
          </ng-select>
          <div class="text-danger" *ngIf="personaRef.invalid && personaRef.touched">
            La persona es obligatoria
          </div>
        </ng-container>
        <ng-template #personaReadonly>
          <input id="persona" name="persona" class="form-control" [(ngModel)]="prestamo.persona.nombre" disabled>
        </ng-template>
      </div>
        <!-- Fecha de Préstamo (Solo en modo edición) -->
        <div class="form-group col-md-6" *ngIf="isEditMode">
          <label for="fechaPrestamo">Fecha de Préstamo:</label>
          <input type="date" id="fechaPrestamo" name="fechaPrestamo" class="form-control"
            [(ngModel)]="prestamo.fechaPrestamo" disabled>
        </div>
  </div>

    <div class="row" *ngIf="esEditable()&&isEditMode">
      <!-- Fecha de Devolución (Editable solo si ya fue devuelto) -->
      <div class="form-group col-md-6">
        <label for="fechaDevolucion">Fecha de Devolución:</label>
        <input type="date" id="fechaDevolucion" name="fechaDevolucion" class="form-control"
          [(ngModel)]="prestamo.fechaDevolucion" [disabled]="!esEditable()">
      </div>
    </div>

    <!-- Mensaje de error general del backend -->
    <div class="alert alert-danger mt-2" *ngIf="erroresBackend?.general">
      {{ erroresBackend.general }}
    </div>

    <!-- Botones -->
    <div class="buttons-container mt-3">
      <button type="submit" class="btn botonCrear">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancelar</button>
    </div>
  </form>
</div>
