<div class="contenedorDetalle d-flex">
    <!-- Barra lateral -->
    <div class="sidebar">
        <h4 class="text-white text-center mb-4">COLECCIÓN PERSONAL</h4>
        
        <!-- <button class="btn btn-success w-40 mx-5" (click)="loadPeliculas()">Películas</button> -->
      <a (click)="goToMainPage()">Inicio</a>
      <a (click)="goToPeliculas()">Películas</a> 
    </div>

    <!-- Sección principal -->
    <div class="main-content">
        <div class="user-card">
            <h3>{{ pelicula?.item?.nombre }}</h3>
            <div class="user-info d-flex">

                <div class="column">
                    <p><strong>Director:</strong> {{ pelicula?.director }}</p>
                    <p><strong>Duración:</strong> {{ pelicula?.duracion }} minutos</p>
                    <p><strong>Fecha de estreno:</strong> {{ pelicula?.fechaEstreno | date: 'dd/MM/yyyy' }}</p>
                    <p><strong>Género:</strong> {{ pelicula?.genero }}</p>
                </div>

                <div class="column">
                    <p><strong>Formato:</strong> {{ pelicula?.item?.formato?.nombre }}</p>
                    <p><strong>Ubicación:</strong> {{ pelicula?.item?.ubicacion}}</p>
                    <p><strong>Fecha:</strong> {{ pelicula?.item?.fecha | date: 'dd/MM/yyyy'}}</p>
                    <p><strong>Estado:</strong> {{ pelicula?.item?.estado}}</p>
                </div>
            </div>
        </div>
    </div>
</div>