/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

app-root router-outlet {
  margin: 0 auto !important;
  width: 90% !important;
  height: 100% !important;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
  text-align: center;
  /* Asegura que el texto también esté centrado */
  width: 100%;
}

/*ESTILOS SNACK BAR*/

mat-snack-bar-container.custom-snackbar>* {
  background-color: #4caf50 !important;
  /* Transparente o el color que desees */
}

.custom-snackbar simple-snack-bar .mdc-snackbar__label {
  color: white !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center !important;
}

mat-snack-bar-container {
  border: 2px solid black !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.custom-snackbar .mdc-button__label {
  color: black;
}

.custom-snackbar .mdc-button__label:hover {
  color: #ccc;
}


/* BREADCRUMBS */
.breadcrumb {
  background-color: transparent;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: larger;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb-item.active {
  color: #6c757d;
}

/*Colocar bton añadir en listas */

.botonesHeader {
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 1;
}

/* Ajustes en resoluciones pequeñas */
@media (max-width: 1024px) {
  .botonesHeader {
    position: static;
  }
}
