<div class="contenedor">
  <header class="my-4">
    <div class="botonesHeader">
      <button class="btn botonCrear w-40 mx-5" (click)="abrirModalAgregar()">Añadir Película</button>
    </div>
  </header>
  <app-tabla-generica [dataSource]="dataSource" [displayedColumns]="displayedColumns" [deleteCallback]="delete.bind(this)"   [editCallback]="abrirModalEditar.bind(this)"
  [viewDetailsCallback]="verDetalles" [columnDefinitions]="columnDefinitions" [tipoTabla]="'peliculas'">
  </app-tabla-generica>
  
  <app-modal [isOpen]="isModalOpen" [title]="titleModal" (closeEvent)="cerrarModal()">
    <app-formulariopeliculas
      [pelicula]="selectedPelicula"
      [isEditMode]="isEditMode"
      (formSubmitted)="onFormSubmitted()"
      (formClosed)="cerrarModal()"
    ></app-formulariopeliculas>
  </app-modal>
  
</div>