<!-- src/app/formulariolibros/formulariolibros.component.html -->
<div class="container">
  <h2>Añadir Libro</h2>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="nombrePersona">Nombre de la Persona:</label>
          <input type="text" id="nombrePersona" name="nombrePersona" [(ngModel)]="libro.nombrePersona" required>
      </div>
      <div class="form-group">
          <label for="libroIngresado">Libro Ingresado:</label>
          <input type="text" id="libroIngresado" name="libroIngresado" [(ngModel)]="libro.libroIngresado" required>
      </div>
      <div class="form-group">
          <label for="fechaRecogida">Fecha de Recogida:</label>
          <input type="date" id="fechaRecogida" name="fechaRecogida" [(ngModel)]="libro.fechaRecogida" required>
      </div>
      <div class="form-group">
          <label for="fechaDevolucion">Fecha de Devolución:</label>
          <input type="date" id="fechaDevolucion" name="fechaDevolucion" [(ngModel)]="libro.fechaDevolucion" required>
      </div>
      <div class="form-group">
          <label for="isbn">ISBN:</label>
          <input type="text" id="isbn" name="isbn" [(ngModel)]="libro.isbn" required>
      </div>
      <div class="form-group">
          <label for="editorial">Editorial:</label>
          <input type="text" id="editorial" name="editorial" [(ngModel)]="libro.editorial" required>
      </div>
      <div class="form-group">
          <label for="numeroPaginas">Número de Páginas:</label>
          <input type="number" id="numeroPaginas" name="numeroPaginas" [(ngModel)]="libro.numeroPaginas" required>
      </div>
      <div class="buttons-container">
        <button type="submit">Guardar</button>
        <button type="button" (click)="goToListalibros()">Cancelar</button>
    </div>
</form>
</div>
