<div class="contenedor">
  <header class="my-4">
    <h1 class="mb-3">Lista de películas <span class="movie-emoji">🎬</span></h1>
    <div class="botonesHeader">
      <button class="btn btn-success w-40 mx-5" (click)="openModal()">Añadir Película</button>
      <button class="btn btn-primary w-40 mx-5" (click)="goToMainPage()">Volver a la página principal</button>
    </div>
  </header>
  <app-tabla-generica [dataSource]="dataSource" [displayedColumns]="displayedColumns" [deleteCallback]="delete.bind(this)"   [editCallback]="editar.bind(this)"
  [viewDetailsCallback]="verDetalles" [columnDefinitions]="columnDefinitions" >
  </app-tabla-generica>
  
  <app-modal [isOpen]="isModalOpen" [title]="isEditMode ? 'Editar Película' : 'Agregar Película'" (closeEvent)="closeModal()">
    <app-formulariopeliculas 
      [isEditMode]="isEditMode"
      (formSubmitted)="onFormSubmitted()" 
      (formClosed)="closeModal()">
    </app-formulariopeliculas>
  </app-modal>
</div>